body {
    background-color: rgb(24, 24, 24);
    color: rgb(255,255,255);
    font-family: "Open Sans", sans-serif;
    text-align: center;
	overflow: hidden;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	width: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto
}

footer {
	font-style: italic;
	font-size: 90%;
}

.glass {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}